<div class="navbar">
  <div class="navbar__container">
    {{#link-to "index"}}Accueil{{/link-to}}
    {{#link-to "contact"}}Contact{{/link-to}}
    {{#link-to "legal"}}Legal{{/link-to}}
  </div>
</div>