<div class="hero">
  <div class="hero__container">
    <div class="hero__overlay"></div>
    <h2 class="hero__title">Votre baby sitter sur Bordeaux</h2>
    <p class="hero__description">Simple, gratuit et efficace. Trouvez la personne qui correspond à vos besoins.</p>
  </div>
</div>

<div class="offer">
  <div class="container">
    <div class="offer__list">
      {{#each model as |offerUnit|}}
          {{offer-listing offer=offerUnit index=@index}}
      {{/each}}
    </div>
  </div>
</div>